<?xml version="1.0"?>
<!--
  ~ @author Improntus Dev Team
  ~ @copyright Copyright (c) 2025 Improntus (http://www.improntus.com/)
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Block\Order\Info" type="Improntus\PedidosYa\Block\Order\Info" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="pedidosya_waypoint_listing_data_source" xsi:type="string">WaypointCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="WaypointCollection" type="Improntus\PedidosYa\Ui\DataProvider\Waypoint\Listing\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">improntus_pedidosya_waypoint</argument>
            <argument name="resourceModel" xsi:type="string">Improntus\PedidosYa\Model\ResourceModel\Waypoint</argument>
        </arguments>
    </virtualType>
    <type name="Improntus\PedidosYa\Helper\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Improntus\PedidosYa\Helper\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">pedidosyaLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Improntus\PedidosYa\Helper\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
