<?xml version="1.0"?>
<!--
  ~ @author Improntus Dev Team
  ~ @copyright Copyright (c) 2023 Improntus (http://www.improntus.com/)
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Backend\Block\Widget\Context">
        <plugin name="improntus_pedidosya_add_custom_button_sales_view" type="Improntus\PedidosYa\Plugin\Widget\Context" sortOrder="10"/>
    </type>
</config>