<?xml version="1.0"?>
<!--
  ~ @author Improntus Dev Team
  ~ @copyright Copyright (c) 2025 Improntus (http://www.improntus.com/)
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="shipping" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="pedidosya" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PedidosYa Configuration</label>
                <field id="integration_mode" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Integration Mode</label>
                    <source_model>Improntus\PedidosYa\Model\Config\Source\IntegrationModeOption</source_model>
                </field>
                <group id="api" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API</label>
                    <field id="token" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Token</label>
                        <comment>Data provided by PedidosYa</comment>
                    </field>
                </group>
                <group id="ecommerce" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>E-commerce</label>
                    <field id="client_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Client ID</label>
                        <comment>Data provided by PedidosYa</comment>
                    </field>
                    <field id="client_secret" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Client Secret</label>
                        <comment>Data provided by PedidosYa</comment>
                    </field>
                    <field id="username" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Username</label>
                        <comment>Data provided by PedidosYa</comment>
                    </field>
                    <field id="password" translate="label" type="password" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Password</label>
                        <comment>Data provided by PedidosYa</comment>
                    </field>
                </group>
            </group>
        </section>
        <section id="carriers" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="pedidosya" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PedidosYa</label>
                <field id="active" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="description" translate="label" type="textarea" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                </field>
                <field id="showmethod" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Method if Not Applicable</label>
                    <frontend_class>shipping-skip-hide</frontend_class>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="max_package_weight" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximum Package Weight</label>
                    <comment>Please consult your shipping carrier for maximum supported shipping weight</comment>
                </field>
                <field id="automatic_shipment" translate="label" type="select" sortOrder="145" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Automatic Shipment Generation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="assume_shipping_amount" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Assume shipping amount</label>
                    <comment>Shipping amount to be assumed by the company</comment>
                </field>
                <field id="free_shipping" translate="label" type="select" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Free Shipping</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Apply Free Shipping rules</comment>
                </field>
                <field id="country" translate="label" type="select" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Country</label>
                    <source_model>Improntus\PedidosYa\Model\Config\Source\CountryOption</source_model>
                </field>
                <field id="country_max_amount_insured" translate="label" type="text" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximum Insured Amount</label>
                    <comment>Please consult your shipping carrier for maximum insured amount</comment>
                </field>
                <field id="mode" translate="label" type="select" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mode</label>
                    <source_model>Improntus\PedidosYa\Model\Config\Source\ModeOption</source_model>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debug Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="product_volume_attribute" translate="label" type="select" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Volume attribute code</label>
                    <source_model>Improntus\PedidosYa\Model\Config\Source\CatalogProductOption</source_model>
                </field>
                <field id="preparation_time" translate="label" type="text" sortOrder="230" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Preparation time</label>
                    <validate>required-entry</validate>
                    <comment>Preparation time in minutes</comment>
                </field>
                <field id="status_allowed" translate="label" type="multiselect" sortOrder="240" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Status for automatic Pedidos Ya shipping creation</label>
                    <source_model>Improntus\PedidosYa\Model\Config\Source\StatusOrderOption</source_model>
                    <comment>When order change to one of this selected status, shipment will be generated automatically</comment>
                </field>
            </group>
        </section>
    </system>
</config>
